# The baseUrl for the Solr server. If using Solr 4.x or better, the URL should include
# the core name.
solr.baseUrl=
solr.scheme=

# The timeframe (in milliseconds) within which new items should be committed to the solr index.
solr.commitWithin=

# In the event of failure, the maximum number of times a redelivery will be attempted.
error.maxRedeliveries=

# Properties for the Drive Listener. The Endpoint url will be created based on these information
drive.routeName=
drive.serviceName=

# Default values for a Route while Creating from the abstract route
default.domain=http://localhost:8080/
default.routeName=route
default.serviceName=serviceName

# The Number of Times Camel must try when there is Exception or error.
camel.maximum_tries=
camel.redelivery_delay=
camel.backoff_multiplier=
camel.maximum_redelivery_delay=

# Mail Configuration
email.from=
email.to=
email.uri=

# Drive Configuration

drive.clientsecret=
drive.app_user_name=
drive.max_cache_entries=100
drive.properties_file=
drive.poll_interval=
drive.local_storage=
